<!DOCTYPE html>
<html>
<head>
  <title>Bienvenido/a a nuestra plataforma</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    /* Estilos CSS para el correo electrónico */
    body {
      background-color: #f1f1f1;
      font-family: Arial, sans-serif;
      line-height: 1.5;
      margin: 0;
      padding: 20px;
    }

    .container {
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 20px auto;
      max-width: 600px;
      padding: 20px;
    }

    h1 {
      color: #333333;
      font-size: 24px;
      margin-bottom: 10px;
      text-align: center;
    }

    p {
      color: #666666;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
      text-align: justify;
    }

    a {
      color: #1e90ff;
      text-decoration: none;
    }

    .button {
      background-color: #1e90ff;
      border: none;
      border-radius: 5px;
      color: #ffffff;
      display: block;
      font-size: 16px;
      margin: 0 auto;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      width: 200px;
    }

  </style>
</head>
<body>
<div class="container">
  <h1>Bienvenido/a a nuestra plataforma</h1>
  <p>Estimado/a {{nombre}},</p>
  <p>Gracias por registrarte en nuestra plataforma. Estamos encantados de darte la bienvenida a nuestra comunidad.</p>
  <p>Desde ahora, podrás acceder a todas las funcionalidades de nuestra plataforma y comenzar a disfrutar de nuestros servicios.</p>
  <p>Si tienes alguna pregunta o necesitas ayuda, no dudes en ponerte en contacto con nosotros. Nuestro equipo estará encantado de ayudarte.</p>
  <p>¡Gracias de nuevo por unirte a nuestra plataforma!</p>
  <a href={{url_confirmacion}} target="_blank" class="button">Ir a la plataforma</a>
</div>
</body>
</html>
