<!DOCTYPE html>
<html>
<head>
  <title>Bienvenido/a a nuestra plataforma</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    /* Estilos CSS para el correo electrónico */
    body {
      background-color: #f1f1f1;
      font-family: Arial, sans-serif;
      line-height: 1.5;
      margin: 0;
      padding: 20px;
    }

    .container {
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 20px auto;
      max-width: 600px;
      padding: 20px;
    }

    h1 {
      color: #333333;
      font-size: 24px;
      margin-bottom: 10px;
      text-align: center;
    }

    p {
      color: #666666;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
      text-align: justify;
    }

    a {
      color: #1e90ff;
      text-decoration: none;
    }

  </style>
</head>
<body>
<div class="container">
  <h1>Bienvenido/a a nuestra plataforma</h1>
  <p>Estimado/a {{nombre}},</p>
  <p>Podrá acceder a su cuenta con la siguiente contraseña:</p>
  <p><strong>{{password}}</strong></p>
</div>
</body>
</html>
